<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Question</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>2024-웹서버프로젝트</header>
<div class="add-question">
    <h1>질문하기</h1>
    <hr/>

    <form action="#" th:action="@{/questions}" method="post">
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" name="title">
        </div>
        <textarea id="content" name="content" rows="4"></textarea>
        <button class="button" type="submit">질문하기</button>
    </form>
</div>
</body>
</html>
