<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Question Detail</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>2024-웹서버프로젝트</header>
<div class="question-detail">
    <p class="title" th:text="${question.title}">질문 제목</p>
    <hr/>
    <p class="content" th:text="${question.content}">질문 내용</p>


    <h2>답변</h2>
    <hr/>
    <ul>
        <li th:each="answer : ${question.answers}">
            <span th:text="${answer}"></span>
        </li>
    </ul>

    <form action="#" th:action="@{'/questions/' + ${question.id} + '/addAnswer'}" method="post">
        <input type="text" id="answer" name="answer"><br>
        <button class="button" type="submit">답변 달기</button>
    </form>

    <a href="/questions">질문 목록으로 가기</a>
</div>
</body>
</html>
